body {
  background: #EBEBEB;
}

#main{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#search{
  margin: 3%;
}

#results{
  border: 1px solid green;
  background: white;
}

img {
  margin: 3%;
}
.searchResult img {
  width: 15%;
  height: auto;
}

